json5==0.10.0
requests==2.32.3
paho-mqtt==2.1.0
numpy==2.2.2
flask-cors==5.0.0
flask-socketio==5.5.1
pandas==2.2.3
scikit-learn==1.6.1
folium==0.19.4
matplotlib==3.10.0
pillow==11.1.0
selenium==4.28.1
opencv-python==4.11.0.86
mysql-connector-python==9.2.0
h3==4.2.0
geopy==2.4.1
gps3==0.33.3



